<div class="container">

    <!-- This is a test for the custom structural directive *appUnless -->
    <div *appUnless="true" class="row">
        <div class="col-md-12">
            <p>
                App Unless
            </p>
        </div>
    </div>

    <!-- This is the template for auto complete feature -->

    <div class="row">
        <div class="col-xl-4 selected-car">
            <div *ngIf="car">
                Your Selected Car: <strong>{{car}}</strong>
            </div>
        </div>

        <div class="col-xl-12 auto-complete">
            <app-auto-complete (carNameSelected)="setCarName($event)"></app-auto-complete>
        </div>
    </div>
</div>
